@model IEnumerable<WebApplication.Repository.Models.Group>

@{
    ViewBag.Title = "DetailsCourse";
}

<h2>DetailsCourse @ViewBag.Name</h2>


<table class="table">
    <tr>
        <th>
            Course name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @ViewBag.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGroup", "Group", new { id = item.GroupId }, null) |
                @Html.ActionLink("Details", "DetailsGroup", "Group", new { id = item.GroupId, name = item.Name }, null) |
                @Html.ActionLink("Delete", "DeleteGroup", "Group", new { id = item.GroupId }, null)
            </td>
        </tr>
    }

</table>