@model WebApplication.ViewModels.Student

@{
    ViewBag.Title = "EditStudent";
}

<h2>Student @Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.StudentId)
        @Html.HiddenFor(m => m.GroupId)
        <p>
            @Html.LabelFor(m => m.FirstName, "First name")
            <br />
            @Html.EditorFor(m => m.FirstName)
            <br />
            @Html.ValidationMessageFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Last name")
            <br />
            @Html.EditorFor(m => m.LastName)
            <br />
            @Html.ValidationMessageFor(m => m.LastName)
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}