@model IEnumerable<WebApplication.Models.Group>

@{
    ViewBag.Title = "DetailsCourse";
}

<h2>DetailsCourse @ViewBag.Name</h2>


<table class="table">
    <tr>
        <th>
            Course name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @ViewBag.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Group_ID }) |
            @Html.ActionLink("Details", "DetailsGroup", new { id = item.Group_ID, name = item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Group_ID })
        </td>
    </tr>
}

</table>
