@model WebApplication.Models.Student

@{
    ViewBag.Title = "EditStudent";
}

<h2>Student @Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.Student_ID)
        @Html.HiddenFor(m => m.Group_ID)
        <p>
            @Html.LabelFor(m => m.FirstName, "First name")
            <br />
            @Html.EditorFor(m => m.FirstName)
            <br />
            @Html.ValidationMessageFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Last name")
            <br />
            @Html.EditorFor(m => m.LastName)
            <br />
            @Html.ValidationMessageFor(m => m.LastName)
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}